.session {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    margin: 3% 0%;
  }
  
  .linediv {
    position: relative;
    margin: 25px 0;
    padding-left: 4%;
  }
  
  .linediv::before {
    content: "";
    position: absolute;
    top: 44%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #C4C7C5;
    z-index: 0;
  }
  
  .linediv .session-data-title {
    position: relative;
    display: inline-block;
    color: #727676;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 0 12px;
    background-color: #F0F4F9;
    z-index: 1;
  }
  
  .session-data-title {
    padding-left: 4%;
    font-weight: 600;
    font-size: 0.8rem;
  }
  
  .session-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 16px;
    list-style: none;
    border-radius: 14px;
    transition: background 0.2s;
    position: relative;
  }
  
  .session-card:hover {
    background-color: #E4E8EC;
  }
  .bi{
    color: #575b5f;
  }
  .session-title {
    font-size: 12px;
    color: #575b5f;
    font-weight: 500;
  }
  
  .btn-hover {
    transition: all ease-in-out 0.32s;
    background-color: transparent;
    border: none;
    color: #000000;
  }
  
  .btn-hover:hover {
    background-color: #e0e6eeac;
  }
  
  .dropdown-menu-custom {
    min-width: 120px;
    padding: 8px 8px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    background: #F0F4F9;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    list-style: none;
  }
  
  .dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.2s;
  }
  
  .dropdown-item:hover {
    background-color: #d7dadf9d;
  }