::v-deep(.p-dialog-content) {
  padding: 0 !important;
  overflow: hidden;
}

::v-deep(.p-data-table-wrapper) {
  overflow: auto;
  max-height: 100%;
  max-width: 100%;
}

::v-deep(.tabela-expandida .p-dialog-header) {
  padding: 0 !important;
}
::v-deep(.p-datatable .p-datatable-thead > tr > th),
::v-deep(.p-datatable .p-datatable-tbody > tr > td),
::v-deep(.p-datatable .p-datatable-tfoot > tr > td) {
  padding: 6px 10px !important;
  font-size: 0.75rem !important;
  white-space: nowrap;
}

 .table-button{
   gap: 15px;
   display: flex;
 }

 .p-table-general{
  background-color: #F0F4F9;
  border: 1px solid #d8d8d8;
  border-top: 0px;
 }

 .p-data-table{
  transform: scale(0.95); 
  /* por enquanto vou usar o metodo scale para diminuir hud das tables, caso de bug volte aqui retire o table
  e no p-table-general volte com padding: 20px para novamente criar as bordas 
  e dps altere todo  tamanho da tabela para menor
  */
 }
 
 .p-table-row-comand{
   text-transform: lowercase;
   letter-spacing: 0.2px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 20px;
   background-color: #fffbff;
   border-radius: 12px 12px 0px 0px;
   border: 1px solid #E3E3E3;
 }
 .p-table-row-comand h5{
   font-size: 0.95rem;
   font-weight: 400;
   color: #2a2a2af1;
   text-wrap: nowrap;
   margin-bottom: 0;
 }

 .table-wrapper {
   display: flex;
   flex-direction: column;
   border-radius: 4px;
   margin-bottom: 3%;
 }
 .status-tag {
 padding: 4px 10px;
 border-radius: 12px;
 font-weight: 600;
 font-size: 0.75rem;
 display: inline-block;
 text-align: center;
 min-width: 60px;
}

.status-sim,
.status-ativo {
 background-color: #e6f9ef;
 color: #1c8c5d;
}

.status-nao,
.status-inativo {
 background-color: #fdecea;
 color: #c43f3f;
}

 @keyframes ripple-effect {
   0% {
     transform: scale(0);
     opacity: 0.5;
   }
   100% {
     transform: scale(2.5);
     opacity: 0;
   }
 }  

::v-deep(.p-datatable-tfoot){
  font-weight: 500;
  font-size: 0.8rem;
  border-top: solid 2px #E2E8F0;
  color: #1e1e1e;
}

::v-deep(.p-datatable-tfoot  > tr > td){
   border-top: solid 2px #E2E8F0;
   color: #1a1a1a;
   font-weight: 500;
   text-transform: capitalize;
   font-size: 0.9rem;

}

::v-deep(.p-datatable-table-container::-webkit-scrollbar-thumb) {
 background-color: rgba(100, 100, 100, 0.3);
 border-radius: 3px;
 
 transition: background-color 0.3s;
}

::v-deep(.p-datatable-table-container::-webkit-scrollbar-thumb:hover) {
 background-color: rgba(100, 100, 100, 0.5);
}

::v-deep(.p-datatable-column-title){
   color: #1a1a1a;
   font-weight: 500;
   text-transform: capitalize;
  font-size: 0.75rem !important;
}
::v-deep(.p-datatable-tbody){
   color: #656565; 
   font-weight: 500;
   font-size: 0.8rem;
}
::v-deep(.p-datatable-thead > tr > th){
   padding: 15px ;
   }
::v-deep(.p-datatable-tbody > tr > td){
border-color: #F0F4F9;

border-top: solid 3px #F0F4F9;
padding: 16px 16px;
}
::v-deep(.p-datatable-thead > tr > th ){
padding: 18px 15px;
}

 .table-message {
   margin: 20px 0;
   font-size: 0.9rem;

 }

.nav-modal-button{
   display: flex;
   flex-direction: row;
   gap: 15px;
   background-color: #ffffffa4;
   border: none;
   padding: 9px 14px;
   color: #434040;
   border: #63606053 0.9px solid;
   align-items: center;
   font-size: 0.75rem !important;
   border-radius: 4px;
   cursor: pointer;
   transition: background 0.2s ease;
}
.nav-modal-button:hover{
     color: #c43f3f !important;
   border: #c43f3f53 0.9px solid !important;
      background-color: #ffdddda4 !important;

}

 .outro-button-simpletable{
   display: flex;
   flex-direction: row;
   gap: 15px;
   background-color: #000473;
   border: none;
   padding: 9px 14px;
   color: #E2E8F0;
   font-weight: 700;
   align-items: center;
   font-size: 0.75rem !important;
   border: #000473 0.9px solid;
   border-radius: 4px;
   cursor: pointer;
   transition: background 0.2s ease;
 }
 .copy-button-simpletable,
 .download-button-simpletable {
   display: flex;
   flex-direction: row;
   gap: 15px;
   background-color: #ffffffa4;
   border: none;
   padding: 9px 14px;
   border: #d1d1d1d4 0.9px solid;
  align-items: center;
   font-size: 0.75rem !important;
   border-radius: 4px;
   cursor: pointer;
   transition: background 0.2s ease;
 }
 .copy-button-simpletable {
   right: 0px;
 }
 .download-button-simpletable {
   right: 45px;
 }
 .copy-button-simpletable:hover,
 .download-button-simpletable:hover {
  background-color: #d5f1ff;
  color: #051d6a;
}
.nav-modal{
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 35px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
}
.nav-modal-controller{
  display: flex;
  gap: 15px;
  flex-flow: row nowrap;
}

.input-icon-wrapper {
  position: relative;
}

.input-icon-wrapper input {
  padding-left: 2rem;
   align-items: center;
   padding-top: 10px;
   font-size: 0.75rem !important;
}
.input-icon-wrapper:hover
.input-icon-wrapper:focus
.input-icon-wrapper::selection
.input-icon-wrapper:active {
  border: 1px #0004735a solid !important;
}
::v-deep(.p-inputtext:focus) {
  border-color: #0004735a !important;
  box-shadow: none !important;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6b7280;
}