.table-response {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 4%;

  }
  .table-response th,
  .table-response td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
  }


  .table-wrapper {
    position: relative;
    margin-bottom: 1rem;
  }
  .copy-button-simpletable{
    top: 20px;
    position: absolute;
    right: 0px;
    background-color: #f0f0f0;
    border: none;
    padding: 6px 10px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .table-message {
    margin-bottom: 20px;
    margin-top: 20px;

  }

  .copy-button-simpletable {
    top: 20px;
    position: absolute;
    right: 0px !important;
    background-color: #f0f0f0;
    border: none;
    padding: 6px 10px;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s ease;
    overflow: hidden;
  }
  
  .copy-button-simpletable:hover {
    background-color: #ECFDF5;
    color: #1cc55f;
  }
  
  /* Efeito da onda */
  .copy-button-simpletable::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(28, 197, 95, 0.35);
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    transition: none;
    pointer-events: none;
    z-index: 1;
  }
  
  .copy-button-simpletable.clicked::after {
    animation: ripple-effect 0.9s ease-out;
  }
  
  /* Animação */
  @keyframes ripple-effect {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    100% {
      transform: scale(2.5);
      opacity: 0;
    }
  }
